site-deploy/legend/*.gif -filter -diff -merge -text
site-deploy/assets/*.gif -filter -diff -merge -text
site-deploy/Icon/*.gif -filter -diff -merge -text
site-deploy/video/*.mp4 -filter -diff -merge -text
